body{
  margin: 0px;
  padding: 5px;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

/* .post:hover {
  box-shadow: 3px 3px #424224;
  transition: box-shadow 200ms ease-in-out;
} */
.header1{
  margin-bottom: 30px;
  width: 100%;
}

.btns-parent {
  display: flex;
  gap: 10px
}

.btns-parent > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
  border: 0.01rem solid #424224;
  box-shadow: 3px 3px #424224;
  border-radius: 0.2rem;
}

.heading-parent{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.home-intro {
  display: flex;
  font-size: 34px;
  gap: 0;
  flex-direction: column;
}

.posts-parent {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  align-items: center;
  height: 50vh;
  gap: 2rem;
  justify-content: center;
}

.home > div {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 20px;
  width: 100%;
}


.home > div > div {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}


button{
  border: 1px solid #424224;
  background-color: white;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  background-color: #ececec;
  transition:200ms ease-in-out;
}


.post-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: fit-content;
  margin: 2rem;
}

.post {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  border-bottom: 1.5px solid #a0a0a0;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 20px;
}

.posts {
  padding: 10px;
}

.post-info {
  display: flex;
  max-width: 40rem;
  max-height: 60rem;
  flex-direction: column;
  border: 1px solid #424224;
  padding: 30px;
  box-shadow: 5px 5px #212121;
}

.post-info > .post-title {
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.post-title > button {
  margin-left: 5px;
}


.post-info > .post-body {
  font-size: 15px;
  margin-bottom: 30px;
}

.comment-parent {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e0dfdf;
  padding: 5px;
  border-radius: 3px;
}

.parent-postpage {
  display: flex;
  justify-content: center;
}
.comment-parent > div {
  width: fit-content;
}

.icons-group{
  margin-bottom: 10px;
}

.icons {
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px rgb(112, 112, 112);
  color: #212121;
  text-decoration: none;
  padding: 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

main {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
  font-size: 20px;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  min-width: none;
  margin: 10px;
}

main > div > div {
  margin: 10px;
}

main > div > p {
  margin: 10px;
}

main > img {
  height: 350px;
}

.blogs-link {
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 3px 3px rgb(46, 46, 46);
  color: #212121;
  text-decoration: none;
  padding: 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
}

.blogs-link:hover {
  background-color: #ebebeb;
  transition: 200ms ease-in-out;
}

.cmt-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.cmt-parent > input {
  padding: 3px;
}

.edit-input {
  width: 80%;
  font-size: 25px;
}

.edit-cmp {
  display: flex;
  flex-direction: column;
  gap : 10px;
  margin-bottom: 10px;
}

.post-t {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
}

.post-b {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.delete-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.delete-btn > .blogs-link {
  font-size: 30px;
}

textarea{
  text-decoration: none;
  padding: 2px;
}

@media only screen and (max-width:900px) {
  body {
    overflow-x: hidden;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home{
    display: flex;
    flex-direction: column;
  }
  .home>div {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }

  .home > div > div {
    font-size: 30px;
  }

  header {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .comment-parent{
    font-size: 14px;
  }

  .delete-btn {
    font-size: 40px;
  }

  .delete-btn > .blogs-link {
    font-size: 28px;
  }

}

@media only screen and (max-width: 700px) {
  .post {
    font-size: 15px;
  }

  .post-title{
    font-size: 10px;
  }

  .post-t {
    font-size: 14px;
  }

  .post-b {
    font-size: 13px;
  }

  .home> div {
    gap: 0px;
  }

  .home > div > div {
    font-size: 20px;
  }


  .post-info{
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .comment-parent{
    min-width: 90%;
    font-size: 10px;
  }

  .delete-btn {
    font-size: 30px;
  }

  .delete-btn > .blogs-link {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {

  
  
  .post-t  {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 10px;
  }

  .post-parent{
    height: 90vh;
  }

  .post-b {
    font-size: 10px;
  }

  .btns-parent > button {
    font-size: 10px;
  }

  .post > p, .icons-group {
    font-size: 10px;
  } 


  .comment-parent > div {
    font-size: 8px;
    max-width: 10rem;
  }

  .heading {
    font-size: 15px;
    margin-bottom: 0;
  }

  .post-info{
    width: 80%;
  }

  .delete-btn {
    font-size: 18px;
  }

  .delete-btn > .blogs-link {
    font-size: 12px;
  }
}

