body{
  margin: 0px;
  padding: 5px;
  overflow-x: hidden;
}

/* .post:hover {
  box-shadow: 3px 3px #424224;
  transition: box-shadow 200ms ease-in-out;
} */

.btns-parent {
  display: flex;
  gap: 10px
}

.btns-parent > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
  border: 0.01rem solid #424224;
  box-shadow: 3px 3px #424224;
  border-radius: 0.2rem;
}

.heading-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.posts-parent {
  display: flex;
  flex-direction: column;
}


button{
  border:   1px solid #424224;
  background-color: white;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  background-color: #ececec;
  transition:200ms ease-in-out;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2rem;
}

.post {
  border-bottom: 1.5px solid #a0a0a0;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 20px;
}

.posts {
  padding: 10px;
}

.post-info {
  display: flex;
  max-width: 40rem;
  max-height: 50rem;
  flex-direction: column;
  border: 1px solid #424224;
  padding: 30px;
  box-shadow: 5px 5px #212121;
}

.post-info > .post-title {
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.post-title > button {
  margin-left: 5px;
}


.post-info > .post-body {
  font-size: 15px;
  margin-bottom: 30px;
}

.comment-parent {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e0dfdf;
  padding: 5px;
  border-radius: 3px;
}

.parent-postpage {
  display: flex;
  justify-content: center;
}
.comment-parent > div {
  width: fit-content;
}

.icons-group{
  margin-bottom: 10px;
}

.icons {
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px rgb(112, 112, 112);
  color: #212121;
  text-decoration: none;
  padding: 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

main {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
  font-size: 20px;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  min-width: none;
  margin: 10px;
}

main > div > div {
  margin: 10px;
}

main > div > p {
  margin: 10px;
}

main > img {
  height: 350px;
}

.blogs-link {
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px rgb(112, 112, 112);
  color: #212121;
  text-decoration: none;
  padding: 2px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.cmt-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.cmt-parent > input {
  padding: 3px;
}

.edit-input {
  width: 80%;
  font-size: 25px;
}

.edit-cmp {
  display: flex;
  gap : 10px;
}

@media only screen and (max-width:900px) {
  body {
    overflow-x: hidden;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  header {
    font-size: 30px;
  }

  .comment-parent{
    font-size: 10px;
  }

  main > img {
    height: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .post {
    font-size: 15px;
  }

  .post-title{
    font-size: 10px;
  }
}

